# Build output
build/
Build/
out/
bin/
obj/
Debug/
Release/

# CMake
CMakeCache.txt
CMakeFiles/
cmake-build-*/
*.cmake
Makefile
install_manifest.txt
compile_commands.json

# Compiler artifacts
*.o
*.d
*.a
*.elf
*.so
*.bin
*.hex
*.map
*.lst
*.srec

# STM32 CubeMX
*.launch
MX/

# Generated docs
docs/html/
docs/latex/

# Logs
*.log

# IDE
.idea/
*.code-workspace

.DS_Store

lvgl

.mxproject
*.ioc